.promptContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 96vw;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 70px;
  background-color: #242321;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 20;
  animation: prompt .3s ease-out;
}

@keyframes prompt {
  from {
    margin-bottom: -200px;
  }

  to {
    margin-bottom: 70px;
  }
}