.dateContainer {
  position: sticky;
  padding: 10px 0;
  bottom: 60px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(0, 62, 102);
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  gap: 8px;
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(6px);
  z-index: 0;
  animation: render-date-container .7s ease-in-out;
}

.hideDateContainer {
  display: none;
  animation: render-date-container .4s ease-in reverse;
}

.showDateContainer {
  display: flex;
  animation: render-date-container .4s ease-in;
}

.dateMask {
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(0, 62, 102);
  border: 2px solid rgba(0, 62, 102);
  border-radius: 10px;
  background-image: url("../../assets/icons/calendar.svg");
  background-position-x: 98%;
  background-position-y: 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  padding: 2px 0;
  border-radius: 8px;
  height: 36px;
  max-width: 810px;
  z-index: 0;
  cursor: pointer;
}

.dateMask p {
  margin: 10px;
}

.dateMask input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  opacity: 0;
  cursor: pointer;
}

@keyframes render-date-container {
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}