.incidentsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  gap: 20px;
}

.incidentsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: rgba(0, 62, 102);
  font-size: 4rem;
  font-weight: 600;
}

.incidentsHeader h1 {
  margin: 20px 0;
}
