.profileContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 20px;
}

.profileContainer span .loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  width: 95%;
  color: rgba(0, 62, 102);
  font-size: 28px;
  font-weight: 600;
}

.profileHeader h1 {
  margin: 8px 0;
}

.profileSummary {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  animation: content-render-animation .5s ease-in-out;
}

.profilePicture {
  display: flex;
  place-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 10px;
}

.profilePicture img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: #003e66;
}

.name {
  font-size: 26px;
  font-weight: 700;
}

.username {
  font-size: 22px;
  font-weight: 600;
}

.contactInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.contactInfo h2 {
  font-size: 24px;
  font-weight: 700;
}

.contactInfo h3 {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 6px;
  cursor: pointer;
}

@keyframes content-render-animation {
  from {
    transform: scale(98%);
  }

  to {
    transform: scale(100%);
  }
}
