.settingsContainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
}

.settingsContainer span .loader{
  position: absolute;
  top: 50%;
  left: 50%;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 8px;
}

.settings h1{
  font-size: 20px;
  color: rgba(0, 62, 102);
  margin: 0;
  font-weight: 600;
}

.workspaceInfo{
  margin: .25rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgba(0, 62, 102);
}

.workspaceInfo select {
  margin-top: 15px;
  padding: 4px 10px;
  background-color: transparent;
  color: #003e66;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  appearance: none;
  background-image: url("../../assets/icons/chevron-down.svg");
  background-position-x: 98%;
  background-position-y: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 100%;
  border: #003e66 3px solid;
  border-radius: 8px;
}

.logout {
  margin-top: .5rem;
  padding: 6px 0;
  width: 100%;
  font-size: 18px;
  border: 1px solid rgba(0, 62, 102);
  color: rgba(0, 62, 102);
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  place-content: center;
  transition: background-color .3s ease;
  transition: color .3s ease;
  animation: content-render-animation .5s ease-in-out;
}

@keyframes content-render-animation {
  from {
    transform: scale(98%);
  }

  to {
    transform: scale(100%);
  }
}