.workspaceContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.workspace {
  position: relative;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  color: black;
  align-items: center;
  animation: content-render-animation .5s ease-in-out;
}

.workspaceHeader {
  width: 90%;
  display: flex;
  color: rgba(0, 62, 102);
  transition: all .6s ease;
  margin: 20px 0;
}

.workspaceHeader select {
  background-color: transparent;
  color: #003e66;
  font-size: 3.8rem;
  font-weight: 600;
  outline: none;
  appearance: none;
  background-image: url("../../assets/icons/chevron-down.svg");
  background-position-x: 98%;
  background-position-y: 50%;
  background-size: 2.3rem;
  background-repeat: no-repeat;
  width: 100%;
}

@keyframes rotateUp {
  from {
    rotate: '';
  }

  to {
    rotate: '180deg';
  }
}

@keyframes content-render-animation {
  from {
    transform: scale(98%);
  }

  to {
    transform: scale(100%);
  }
}