.workspaceContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.workspaceContainer span .loader{
  position: absolute;
  top: 50%;
  left: 50%;
}

.workspace {
  position: relative;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  color: black;
  align-items: center;
  animation: content-render-animation .5s ease-in-out;
}

.workspace::-webkit-scrollbar {
  display: none;
}

.workspaceHeader {
  width: 95%;
  display: flex;
  color: rgba(0, 62, 102);
  transition: all .6s ease;
  padding: 10px 0 20px;
  gap: 18px;
  justify-content: space-between;
}

.workspaceHeader select {
  background-color: transparent;
  color: #003e66;
  font-size: 28px;
  font-weight: 700;
  outline: none;
  appearance: none;
  background-image: url("../../assets/icons/chevron-down.svg");
  background-position-x: 98%;
  background-position-y: 50%;
  background-size: 28px;
  background-repeat: no-repeat;
  /* width: 100%; */
}

@keyframes rotateUp {
  from {
    rotate: '';
  }

  to {
    rotate: '180deg';
  }
}

@keyframes content-render-animation {
  from {
    transform: scale(98%);
  }

  to {
    transform: scale(100%);
  }
}